
header {
    font-size: 500%; 
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}
<<<<<<< HEAD
<<<<<<< HEAD
.container {
=======

.box {
>>>>>>> c2e08c2c9d7e79f9a90352d52fd1bd0f2390b93a
=======

.container {

>>>>>>> 8936f3f3d46103fa8fc2e44a174871de2df24b0c
width: 500px;
position:absolute ;
top: 50%;
left:50% ;
transform: translate(-50%, -50%);
color:black;
font-size: 100%;
}
.box h2 {
font-size: 50px;

}

.form{
   padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid gold;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}
.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

<<<<<<< HEAD
=======

>>>>>>> 8936f3f3d46103fa8fc2e44a174871de2df24b0c
.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
}
<<<<<<< HEAD

.form button {
    background-color:black;
    border:2px solid black ;
    color: white;
    display: block;
    font-size: 16px;
    border-radius: 4px;
=======

.form button {
    background-color:black;
    border:2px solid black ;
    color: white;
    display: block;
    font-size: 16px;
    border-radius: 4px;

 /* User-side Messages */
.form small {
	color: 000;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

/* Error Message */
.form.error small {
	margin-left: 2em;
	position: relative;
	background-color: red;
	color: white;
	visibility: visible;

>>>>>>> 8936f3f3d46103fa8fc2e44a174871de2df24b0c
}

.form-control.success input{
    border: blue;
}

<<<<<<< HEAD
=======

.form-control.error input {
    border: red;
  
>>>>>>> 8936f3f3d46103fa8fc2e44a174871de2df24b0c
/* Success Message */
.form.success small {
	margin-left: 2em;
	background-color: #2ecc71;
	color: white;
	visibility: visible;
}

.form-control.success i.fa check-circle{
    color: blue;
    visibility:visible;
}

.form-control.success i.fa exclamation-circle{
    color: red;
    visibility: visible;
}

.form-control.error small {
    color: red;
    visibility:visible;
}

.head input:focus {
	outline: 0;
	border-color: #777;
}

i {
	visibility: hidden;
	position: absolute;
}

.form.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}