
header {
    font-size: 500%; 
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.box {
width: 500px;
position:absolute ;
top: 50%;
left:50% ;
transform: translate(-50%, -50%);
color: white;
}
.box h2 {
font-size: 50px;

}

.head input:focus {
	outline: 0;
	border-color: #777;
}

 /* User-side Messages */
.form small {
	color: 000;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

/* Error Message */
.form.error small {
	margin-left: 2em;
	position: relative;
	background-color: red;
	color: white;
	visibility: visible;
}

.form.error input {
	border-color: #e74c3c;
}

/* Success Message */
.form.success small {
	margin-left: 2em;
	background-color: #2ecc71;
	color: white;
	visibility: visible;
}

.form.success input{
	border-color: #2ecc71;
}

i {
	visibility: hidden;
	position: absolute;
}

.form.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}