header {
    font-size: 400%;
    text-align: center;
    margin: 5px;
    }

* {
    box-sizing: border-box;
}



    body {
    margin: 0;
    padding: 0;
    background-color: gray;
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    }

.box{
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    width: 400px;
    overflow: hidden;
    max-width: 100%;
}

/*
    .head {
    width: 500px;
    position:absolute ;
    top: 50%;
    left:50% ;
    transform: translate(-50%, -50%);
    color: white;
}*/

    .head h2 {
    font-size: 50px;
    }
    .head input:focus {
    outline: 0;
    border-color: #777;
    }


    /* User-side Messages */
    .form small {
    color: 000;
    bottom: 0;
    left: 0;
    visibility: hidden;
    }
    /* Error Message */
    .form.error small {
    margin-left: 2em;
    position: relative;
    background-color: red;
    color: white;
    visibility: visible;
    }
    .form.error input {
    border-color: #E74C3C;
    }
    /* Success Message */
    .form.success small {
    margin-left: 2em;
    background-color: #2ECC71;
    color: white;
    visibility: hidden;
    }
    .form.success input{
    border-color: #2ECC71;
    }
    i {
    visibility: hidden;
    position: absolute;
    }
    .form.success i.fa-check-circle {
    color: rgb(35, 221, 35);
    visibility: visible;
    }
    .form.error i.fa-exclamation-circle {
    color: rgb(255, 64, 64);
    visibility: visible;
    }
